---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=content&titles=Cheers_(season_1)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"query":{"normalized":[{"from":"Cheers_(season_1)","to":"Cheers (season
        1)"}],"pages":{"36249764":{"pageid":36249764,"ns":0,"title":"Cheers (season
        1)","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Use
        American English|date=March 2013}}\n{{Use mdy dates|date=March 2013}}\n{{Infobox
        television season\n |season_name  = Cheers (season 1)\n |bgcolour     = #E38181\n
        |fgcolour     = \n |image        = Cheers season 1 dvd.jpg\n |image_alt    =
        Front cover of Region 1 DVD\n |caption      = Region 1 DVD edition\n |country      =
        United States\n |num_episodes = 22\n |network      = [[NBC]]\n |first_aired  =
        {{Start date|1982|09|30}}\[...]
[...]
