---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=content&titles=Friends_(season_1)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"query":{"normalized":[{"from":"Friends_(season_1)","to":"Friends
        (season 1)"}],"pages":{"22716229":{"pageid":22716229,"ns":0,"title":"Friends
        (season 1)","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Use
        mdy dates|date=May 2012}}\n{{Infobox television season\n |season_name  = Friends
        (season 1)\n |bgcolour     = #0160bc\n |fgcolour     = white\n |image        =
        [[File:Friends Season 1 DVD.jpg|250px]]\n |caption      = ''''Friends''''
        Season 1 DVD cover\n |country      = United States\n |num_episodes = 24\n
        |network      = [[NBC]]\n |first_aired  = {{Start date|1994|09|22}}\n |last_aired   =
        {{End date|1995|5|18}}\n |region_1  [...]
[...]
