---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=content&titles=List_of_Curb%20Your%20Enthusiasm_episodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"query":{"normalized":[{"from":"List_of_Curb Your Enthusiasm_episodes","to":"List
        of Curb Your Enthusiasm episodes"}],"pages":{"531823":{"pageid":531823,"ns":0,"title":"List
        of Curb Your Enthusiasm episodes","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{DISPLAYTITLE:List
        of ''''Curb Your Enthusiasm'''' episodes}}\nThe [[HBO]] television series
        ''''[[Curb Your Enthusiasm]]'''' premiered with an hour-long special on October
        17, 1999. It was followed by a ten-episode first season that began airing
        on HBO on October 15, 2000.<ref>{{Cite web|url=http://www.tvguide.com/tvshows/curb-enthusiasm/cast/100103|title=Curb
        Your Enthusiasm: Cast & Details|work=TV Guide|accessdate=June 13, 2011}}</ref>\n\n{{TOC
        right}}\n\n==Series overview==\n<onlyinclude>{| class=\"wikitable\" style=\"text-align:center\"\n|-\n!
        style=\"padding: 0px 8px\" colspan=\"2\" rowspan=\"2\" | Season\n! style=\"padding:
        0px 8px\" rowspan=\"2\" | Episodes\n! style=\"padding: 0px 8px\" colspan=\"2\"
        | Originally aired \n|-\n! First aired\n! Last aired\n|-\n| style=\"width:
        5px\" bgcolor=\"FFFFFF\"|\n| [[List of Curb Your Enthusiasm episodes#Season
        1 (2000)|1]]\n| 10\n| {{Start date|2000|10|15}}\n| {{End date|2000|12|17}}
        \n|-\[...]
