<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 center">
      <p>CHEERS! <i class="fa fa-beer"></i>
      MADE IN USA © 2015 ALL RIGHTS RESERVED <i class="fa fa-beer"></i>
      </i> <%= link_to "UNSUBSCRIBE", unsubscribe_path %>
      </p>
    </div>
  </div>
</div>

