<div class="row">
  <div class="col-xs-6 center-block">
    <h1 class="headline center">Do you remember that one episode?</h1>

    <p class="subhead center">a mailing list</p>
    <p class="envelop center"><i class="fa fa-envelope"></i></p>
  </div>
</div>

<div class"row">
  <div class="col-xs-8 center-block">
    <p class= "instructions center">Sign up to get occasional email messages with fond memories of your favorite old sitcoms.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 center-block">
    <%= render "shared/sample" %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 center-block">
    <%= render "shared/subscribe_form", locals: { subscription: @subscription, series: @series } %>
  </div>
</div>
