<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="headline center">Do you remember that one episode?</h1>

    <p class="subhead center">A Mailing List</p>
  </div>
</div>

<div class"row">
  <div class="col-md-10 col-md-offset-1">
    <p class= "instructions center">Sign up to get occasional email messages with fond memories of your favorite old sitcoms.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <%= render "shared/sample" %>
  </div>

  <div class="col-md-4">
    <%= render "shared/subscribe_form", locals: { subscription: @subscription, series: @series } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <hr>
    <%= link_to "Unsubscribe", unsubscribe_path %>
  </div>
</div>
