/* ===========================
	#base
============================ */
h1,h2,h3,h4,h5,h6 {
  font-family: 'Arvo', serif;
  color: #F3A108;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  color: grey;
}

a, a:hover, a:active, a:focus {
  color: #DDE9CA;
  text-decoration: none;
}

/* ===========================
	#layout for footer
============================ */
* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -70px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
	height: 70px; /* .push must be the same height as .footer */
  font-size: 10px;
}

/* ===========================
	#resuables
============================ */
.center {
  text-align: center;
}

.center-block {
  float: none;
}


/* ===========================
	#page elements
============================ */
.header-icon {
  margin-left: 50%;
  font-size: 12px;
  color: #F27405;
}

.headline {
  margin-top: 15%;
  font-size: 50px;
  font-weight: 700;
}

.subhead {
  margin-top: 10px;
  font-size: 15px;
  background-color: white;
  border-radius: 9px;
  padding: 5px;
}

.envelop {
  margin-top: 10px;
  font-size: 40px;
  color: #DDE9CA;
}

.instructions {
  font-size: 15px;
  margin-top: 45px;
  margin-bottom: 25px;
  background-color: white;
  border-radius: 9px;
  padding: 5px;
}

.intro-btn {
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
  border: 4px solid #85C6A9;
  display: inline-block;
  font-family: 'Arvo', serif;
  color: #fff;
  background-color: #85C6A9;
  font-size: 20px;
  border-radius: 9px;
  padding: 5px;
}

#home-btn {
  float: none;
  margin: 0 auto;
}

.sample-text {
  display: none;
}

.subscribe-form {
  display: none;
}

.step-box {
  margin-bottom: 20px;
}

.step {
  font-size: 18px;
  color: #85C6A9;
  font-family: 'Arvo', serif;
}

.step-icon {
  color: #DDE9CA;
}

.email-content {
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  text-align: left;
}

.flash {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #85C6A9;
  font-family: 'Arvo', serif;
}

.series {
  padding-left: 10px;
}
