/* ===========================
	#base
============================ */
body {
  background: #E6B239;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Titan One', cursive;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}

/* ===========================
	#resuables
============================ */
.center {
  text-align: center;
}


/* ===========================
	#page elements
============================ */
.headline {
  margin-top: 10%;
  color: #FFFFFF;
  font-size: 60px;
}

.subhead {
  margin-top: 10px;
  font-weight: 700;
  color: #665735;
  font-size: 20px;
}

.instructions {
  font-size: 25px;
  font-weight: 700;
  margin-top: 60px;
}

.intro-btn {
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 370px;
  border: 4px solid #fff;
  display: inline-block;
  color: #fff;
  font-size: 33px;
  margin: 0 15px;
}
